[user]
	name = BigForceGun
	email = BigForceGun@gmail.com
	signingkey = BE9C8BCF2398599C

[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	hooksPath = ~/.githooks
	ignorecase = false

[gc]
	autoDetach = false

[color]
  	ui = true

[push]
	followTags = true

[commit]
	gpgsign = true

[hooks]
	gitleaks = true

[pull]
	rebase = true

[diff]
  tool = meld
[mege]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "meld"]
  cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[include]
	path = ~/.gitconfig-private/gitconfig

