# private

.gitconfig-private/*
!.gitconfig-private/.keep


# nested git worktrees

.git-worktrees/
.git-worktrees/*
.git-worktrees/**/*

env

# trash

.DS_Store
*.bak
*.bak-*
token-usage-output.txt
*.zwc
*.tar
*.tar.*


# omo + oc

.omo/*
!.omo/omo.jsonc

.config/opencode/skills/
.config/opencode/commands/


# runtime

.idea
tags
tags*
vendor/bundle
.playwright-mcp/
node_modules/
__pycache__
*.antigen-compat
.maid/maid.log
*.log
.magic.mgc
.uuid
.ruby-version
.ruby-gemset

# rulesync generated

.agents/skills/
.claude/
.claude/**
.cursor/
.cursor/**
.codexcli/
.codexcli/**
.codex/
.codex/**
opencode.jsonc
AGENTS.MD
CLAUDE.MD
.mcp.json
.mcp.jsonc
