[user]
	name = BigForceGun
	email = bigforcegun@pm.me
	# email = BigForceGun@gmail.com
	# signingkey = BE9C8BCF2398599C
	signingkey = BEA596E7B5F0A834

[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	hooksPath = ~/.githooks
	ignorecase = false

[gc]
	autoDetach = false

[color]
  	ui = true

[push]
	followTags = true

[commit]
	gpgsign = true

[hooks]
	gitleaks = false

[pull]
	rebase = true

[diff]
	tool = meld
	prompt = false

[merge]
	tool = meld
	conflictStyle = diff3

[difftool]
	prompt = false

[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[mergetool "meld"]
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[mergetool "vscode"]
    cmd = code --wait $MERGED

[include]
	path = ~/.gitconfig-private/gitconfig
	#path = ~/.gitconfig-private/gitconfig-umbrellio

[alias]
	y = diff "@{yesterday}"
	w = whatchanged
[gpg]
	program = /opt/homebrew/bin/gpg
