[Desktop Entry]
Type=Service
Icon=text-csv
ServiceTypes=KonqPopupMenu/Plugin
Terminal=true
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
MimeType=all/allfiles;
Actions=EncodeFileToUTF8;
Encoding=UTF-8

[Desktop Action EncodeFileToUTF8]
Name=Encode file to UTF8
Icon=text-csv
Exec="/usr/bin/iconv -f windows-1251 -t UTF-8//TRANSLIT %f -o converted.%f"
